# Byte-compiled / optimized / DLL files
__pycache__/ *.py[cod] *$py.class
# C extensions
*.so
# Distribution / packaging
.Python build/ develop-eggs/ dist/ downloads/ eggs/ .eggs/ lib/ lib64/ parts/ sdist/ var/ wheels/ *.egg-info/ 
.installed.cfg *.egg MANIFEST
# PyInstaller
#  Usually these files are written by a python script from a template before PyInstaller builds the exe, so as to 
#  inject date/other infos into it.
*.manifest *.spec
# Installer logs
pip-log.txt pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/ .tox/ .coverage .coverage.* .cache nosetests.xml coverage.xml *.cover .hypothesis/ .pytest_cache/
# Translations
*.mo *.pot
# Django stuff:
*.log local_settings.py db.sqlite3
# Flask stuff:
instance/ .webassets-cache
# Scrapy stuff:
.scrapy
# Sphinx documentation
docs/_build/
# PyBuilder
target/
# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version
# celery beat schedule file
celerybeat-schedule
# SageMath parsed files
*.sage.py
# Environments
.env .venv env/ venv/ ENV/ env.bak/ venv.bak/
# Spyder project settings
.spyderproject .spyproject
# Rope project settings
.ropeproject
# mkdocs documentation
/site
# mypy
.mypy_cache/
lib/__pycache__/workshop.cpython-36.pyc
lib/tf_scripts.pyc
notebooks/building_data_lakes/__pycache__/project_path.cpython-36.pyc
notebooks/building_data_lakes/yelp_etl.py
notebooks/building_data_lakes/yelp_review_full_csv.tgz
notebooks/building_data_lakes/yelp_review_full_csv/readme.txt
notebooks/building_data_lakes/yelp_review_full_csv/test.csv
notebooks/building_data_lakes/yelp_review_full_csv/train.csv
notebooks/ml_tensorflow/data/t10k-images-idx3-ubyte.gz
notebooks/ml_tensorflow/data/t10k-labels-idx1-ubyte.gz
notebooks/ml_tensorflow/data/test.tfrecords
notebooks/ml_tensorflow/data/train-images-idx3-ubyte.gz
notebooks/ml_tensorflow/data/train-labels-idx1-ubyte.gz
notebooks/ml_tensorflow/data/train.tfrecords
notebooks/ml_tensorflow/data/validation.tfrecords
notebooks/serverless_apps/__pycache__/project_path.cpython-36.pyc
notebooks/serverless_apps/serverless-todo/.gitignore
notebooks/serverless_apps/serverless-todo/README.md
notebooks/serverless_apps/serverless-todo/hello_world/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/app.py
notebooks/serverless_apps/serverless-todo/hello_world/bin/chardetect
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/DESCRIPTION.rst
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/INSTALLER
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/LICENSE.txt
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/METADATA
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/RECORD
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/WHEEL
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/metadata.json
notebooks/serverless_apps/serverless-todo/hello_world/certifi-2018.11.29.dist-info/top_level.txt
notebooks/serverless_apps/serverless-todo/hello_world/certifi/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/certifi/__main__.py
notebooks/serverless_apps/serverless-todo/hello_world/certifi/cacert.pem
notebooks/serverless_apps/serverless-todo/hello_world/certifi/core.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/DESCRIPTION.rst
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/INSTALLER
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/METADATA
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/RECORD
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/WHEEL
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/entry_points.txt
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/metadata.json
notebooks/serverless_apps/serverless-todo/hello_world/chardet-3.0.4.dist-info/top_level.txt
notebooks/serverless_apps/serverless-todo/hello_world/chardet/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/big5freq.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/big5prober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/chardistribution.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/charsetgroupprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/charsetprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/cli/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/cli/chardetect.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/codingstatemachine.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/compat.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/cp949prober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/enums.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/escprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/escsm.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/eucjpprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/euckrfreq.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/euckrprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/euctwfreq.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/euctwprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/gb2312freq.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/gb2312prober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/hebrewprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/jisfreq.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/jpcntx.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langbulgarianmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langcyrillicmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langgreekmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langhebrewmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langhungarianmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langthaimodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/langturkishmodel.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/latin1prober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/mbcharsetprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/mbcsgroupprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/mbcssm.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/sbcharsetprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/sbcsgroupprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/sjisprober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/universaldetector.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/utf8prober.py
notebooks/serverless_apps/serverless-todo/hello_world/chardet/version.py
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/INSTALLER
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/LICENSE.txt
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/METADATA
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/RECORD
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/WHEEL
notebooks/serverless_apps/serverless-todo/hello_world/idna-2.7.dist-info/top_level.txt
notebooks/serverless_apps/serverless-todo/hello_world/idna/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/codec.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/compat.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/core.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/idnadata.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/intranges.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/package_data.py
notebooks/serverless_apps/serverless-todo/hello_world/idna/uts46data.py
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/DESCRIPTION.rst
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/INSTALLER
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/LICENSE.txt
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/METADATA
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/RECORD
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/WHEEL
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/metadata.json
notebooks/serverless_apps/serverless-todo/hello_world/requests-2.20.0.dist-info/top_level.txt
notebooks/serverless_apps/serverless-todo/hello_world/requests/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/__version__.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/_internal_utils.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/adapters.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/api.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/auth.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/certs.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/compat.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/cookies.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/exceptions.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/help.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/hooks.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/models.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/packages.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/sessions.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/status_codes.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/structures.py
notebooks/serverless_apps/serverless-todo/hello_world/requests/utils.py
notebooks/serverless_apps/serverless-todo/hello_world/requirements.txt
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/INSTALLER
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/LICENSE.txt
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/METADATA
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/RECORD
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/WHEEL
notebooks/serverless_apps/serverless-todo/hello_world/urllib3-1.24.1.dist-info/top_level.txt
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/_collections.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/connection.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/connectionpool.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/_appengine_environ.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/_securetransport/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/_securetransport/bindings.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/_securetransport/low_level.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/appengine.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/ntlmpool.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/pyopenssl.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/securetransport.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/contrib/socks.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/exceptions.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/fields.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/filepost.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/backports/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/backports/makefile.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/six.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/ssl_match_hostname/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/packages/ssl_match_hostname/_implementation.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/poolmanager.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/request.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/response.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/__init__.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/connection.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/queue.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/request.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/response.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/retry.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/ssl_.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/timeout.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/url.py
notebooks/serverless_apps/serverless-todo/hello_world/urllib3/util/wait.py
notebooks/serverless_apps/serverless-todo/sam-template.yaml
notebooks/serverless_apps/serverless-todo/template.yaml
notebooks/serverless_apps/serverless-todo/tests/unit/__init__.py
notebooks/serverless_apps/serverless-todo/tests/unit/test_handler.py
