
.md-header {
    background-color: #232f3e !important;
    border-bottom: 1px solid #1b2532 !important;
}

@media only screen and (max-width: 76.1875em) {

    html .md-nav--primary .md-nav__title--site {
        background-color: #232f3e !important;
        border-bottom: 1px solid #1b2532 !important;
    }

    .md-nav__source {
        background-color: #1f4e79 !important;
    }

    html .md-nav--primary .md-nav__title {
        background-color: #232f3e !important;
        border-bottom: 1px solid #1b2532 !important;
        color: #ffffff;
    }

    html .md-nav--primary .md-nav__title::before {
        color: #ffffff;
    }

}

.md-tabs__link {
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

.md-header-nav__source {
    margin-left: 0;
}

/* Language Drop Down */
.md-header-nav__lang {
    padding: 0 0.5rem;
    line-height: 4.8rem;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 30px;
}

.md-lang-drop {
    position: relative;
    display: inline-block;
    font-size: 1.9rem;
    padding: 0 0 0 5px;
}

.md-lang-dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
    font-weight: bold;
}

.md-lang-dropbtn:hover, .md-lang-dropbtn:focus {
    color: #f8991d;
}

.md-dropdown-content {
    display: none;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
}

.md-dropdown-content a {
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
    line-height: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
  }

.md-dropdown-content a:hover { 
    color: #f8991d;
}

.show {
    display:block;
}

/* Second Navigation */

.md-tabs {
    background-color: #ff9900 !important;
}

.md-tabs__item {
    margin-right: 15px;
}

.md-content__icon {
    display: none;
}

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #6c6c6c !important;
    font-size: 1.5rem;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: 1.4rem;
}

/* Footer */

.md-footer-nav {
    background-color: #ff9900 !important;
}

.md-footer-meta {
    background-color: #232f3e !important;
    border-top: 1px solid #1b2532 !important;
}